spring:
  application:
    name: Hrms
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
  mongodb:
    uri: mongodb://localhost:27017/hrms_db

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    prometheus:
      enabled: true








