/* RESET */
body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#e6e6e6;
}

/* HEADER */
.header{
    text-align:center;
    background:white;
    padding:20px;
}

.header h1{
    color:#0b43d6;
    font-size:38px;
    margin:0;
}

/* WELCOME BAR */
.welcome{
    display:flex;
    justify-content:space-between;
    padding:15px 25px;
    background:white;
    border-bottom:3px solid #0b43d6;
    color:#0b43d6;
}

/* LOGOUT */
.logout{
    color:#0b43d6;
    font-weight:bold;
    text-decoration:none;
}

/* CONTAINER */
.container{
    background:white;
    width:95%;
    max-width:450px;
    margin:25px auto;
    padding:25px;
    border-radius:8px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

/* TITLES */
h2{
    color:#0b43d6;
    border-bottom:3px solid #0b43d6;
    padding-bottom:6px;
    margin-bottom:15px;
}

/* LABELS */
label{
    font-weight:bold;
    display:block;
    margin-top:10px;
}

/* INPUTS */
input, select{
    width:100%;
    padding:12px;
    margin-top:6px;
    margin-bottom:12px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:14px;
}

/* INPUT FOCUS EFFECT */
input:focus{
    border-color:#0b43d6;
    outline:none;
    box-shadow:0 0 5px rgba(11,67,214,0.3);
}

/* BUTTON */
button{
    width:100%;
    padding:12px;
    background:#1f4e79;
    color:white;
    border:none;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#163d5c;
    transform:scale(1.02);
}

/* DASHBOARD */
.dashboard{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
    width:95%;
    max-width:500px;
    margin:20px auto;
}

.card{
    padding:35px;
    text-align:center;
    color:white;
    font-weight:bold;
    border-radius:8px;
    text-decoration:none;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.05);
}

/* CARD COLORS */
.onboard{background:#a6b91a;}
.document{background:#36a7b0;}
.photo{background:#e6b3b3;color:black;}
.modify{background:#b65a1c;}
.active{background:#c7c7ad;color:black;}
.deactive{background:#8e87b8;}

/* TABLE */
table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th{
    background:#6d88a8;
    color:white;
    padding:12px;
}

td{
    padding:12px;
    border:1px solid #ddd;
}

/* LOGIN PAGE */
.login-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-box{
    background:white;
    padding:30px;
    width:350px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    text-align:center;
}

.title{
    color:#0a33cc;
}

.logo{
    width:120px;
    margin:10px 0;
}
