body{
    font-family: Arial, sans-serif;
    background:#e6e6e6;
    margin:0;
}

/* HEADER */

.header{
    text-align:center;
    background:white;
    padding:20px;
}

.header h1{
    color:#0b33d6;
    font-size:40px;
    margin:0;
}

/* WELCOME BAR */

.welcome-bar{
    display:flex;
    justify-content:space-between;
    padding:10px 20px;
    background:white;
    font-size:18px;
}

.logout{
    color:#0b33d6;
    text-decoration:none;
    font-weight:bold;
}

/* DASHBOARD */

.dashboard{
    width:90%;
    max-width:700px;
    margin:20px auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

/* CARDS */

.card{
    padding:40px 10px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    color:white;
    text-decoration:none;
    border:3px solid black;
    border-radius:5px;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.05);
    opacity:0.9;
}

/* COLORS */

.onboard{background:#a9b91f;}
.document{background:#35a7b0;}
.photo{background:#e7b4b4;}
.modify{background:#c45c1d;}
.active{background:#bdbfa7;}
.deactive{background:#8c88b8;}

/* FORM UI */

.form-container{
    background:white;
    width:350px;
    margin:40px auto;
    padding:25px;
    border-radius:8px;
    box-shadow:0 0 10px #bbb;
}

.form-container h2{
    text-align:center;
    color:#0b33d6;
}

input,button{
    width:100%;
    padding:12px;
    margin:10px 0;
}

button{
    background:#0b33d6;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#0927a8;
}

/* TABLE */

table{
    width:80%;
    margin:20px auto;
    border-collapse:collapse;
    background:white;
}

th,td{
    padding:10px;
    border:1px solid #ccc;
    text-align:center;
}
