body{
    font-family: Arial;
    background:#dcdcdc;
    margin:0;
}

/* HEADER */
.header{
    text-align:center;
    background:white;
    padding:20px;
}

.header h1{
    color:#0b43d6;
    font-size:38px;
    margin:0;
}

/* WELCOME BAR */
.welcome{
    display:flex;
    justify-content:space-between;
    padding:15px 25px;
    background:white;
    border-bottom:3px solid blue;
}

.logout{
    color:blue;
    font-weight:bold;
    text-decoration:none;
}

/* CONTAINER */
.container{
    background:white;
    width:95%;
    max-width:450px;
    margin:20px auto;
    padding:20px;
    border-radius:5px;
}

/* TITLES */
h2{
    color:#0b43d6;
    border-bottom:3px solid #0b43d6;
    padding-bottom:5px;
}

/* INPUTS */
input,select{
    width:100%;
    padding:12px;
    margin:8px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

/* BUTTON */
button{
    width:100%;
    padding:12px;
    background:#3b74a6;
    color:white;
    border:none;
    border-radius:5px;
    font-size:16px;
}

/* DASHBOARD */
.dashboard{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
    width:95%;
    max-width:500px;
    margin:20px auto;
}

.card{
    padding:35px;
    text-align:center;
    color:white;
    font-weight:bold;
    border:3px solid black;
    text-decoration:none;
}

.onboard{background:#a6b91a;}
.document{background:#36a7b0;}
.photo{background:#e6b3b3;color:black;}
.modify{background:#b65a1c;}
.active{background:#c7c7ad;color:black;}
.deactive{background:#8e87b8;}

/* TABLE */
table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#6d88a8;
    color:white;
    padding:10px;
}

td{
    padding:10px;
    border:1px solid #ddd;
}
